.row{
    background:-moz-linear-gradient(bottom, #FFF, #F00);
	background:-webkit-linear-gradient(bottom, #FFF, #F00);
	background:-ms-linear-gradient(bottom, #FFF, #F00);
	background:-o-linear-gradient(bottom, #FFF, #F00);
}

.card{
    top: 6rem;
    left: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.container-fluid img{
   border-radius: 30px;
}



